.env
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/
*.log
data/raw/*
data/processed/*
.vscode/
.idea/
notebooks/.ipynb_checkpoints/
src/__pycache__/
src/.ipynb_checkpoints/
src/notebooks/.ipynb_checkpoints/
src/notebooks/*.ipynb
.DS_Store   
notebooks/data/*
notebooks/logs/*
verify_director.py
verify_fix.py